plyfile

lightning==2.0.0
omegaconf==2.3.0
jaxtyping
typeguard
git+https://github.com/KAIR-BAIR/nerfacc.git@v0.5.2
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
diffusers<0.20
accelerate
opencv-python
tensorboard
matplotlib
imageio>=2.28.0
imageio[ffmpeg]
git+https://github.com/NVlabs/nvdiffrast.git
libigl
xatlas
trimesh[easy]
networkx
ipywidgets

PyMCubes
wandb
gradio==3.16.1
git+https://github.com/ashawkey/envlight.git


# deepfloyd
#xformers==0.0.22.post4+cu118
#--index-url https://download.pytorch.org/whl/cu118
bitsandbytes==0.38.1
sentencepiece
safetensors

huggingface_hub
einops
kornia
git+https://github.com/openai/CLIP.git

#controlnet
controlnet_aux


tqdm
mediapipe
Pillow
transformers==4.30.2
fire==0.5.0
PyYAML
wandb
accelerate
triton
xformers==0.0.23.post1 
#accroding to pytorch and cuda version